* {
  box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	background-color: #eff3f8;
}

html,
body {
	height: 100%;
}

/* Standaard flex container */
.container {
	display: flex;
	flex-flow: column;
	gap: .5rem;
	height: 100%;
}
.container .header,
.container .footer {
	flex: 0 1 auto;
}
.container .content {
	flex: 1 1 auto;
}

.card {
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card img {
	width: 200px;
}
.card .card-content {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 2.3rem;
}

#poker-table {
	height: 100%;
	flex-flow: column;
}

#poker-table,
#community-cards,
#deck {
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
	gap: .5rem;
}

.card.in-deck {
	position: absolute;
}