* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	height: 100%;
	background-color: #303030;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

html,
body {
	height: 100%;
}

div.container {
	display: flex;
	flex-flow: column;
	gap: var(--spacing);
	height: 100%;
}
div.container > header,
div.container > footer {
	flex: 0 1 auto;
	padding: var(--spacing);
}
div.container > main {
	flex: 1 1 auto;
}

div.container header.root {
	background-color: var(--header-color);
	color: var(--text-color);
	text-align: center;
	padding: var(--spacing);
}
div.container main.root {
	padding: 0 var(--spacing);
}
div.container footer.root {
	background-color: var(--header-color);
	color: var(--text-color);
	padding: var(--spacing);
}

.card {
	overflow: hidden;
	border-radius: var(--border-radius);
	position: relative;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
	transition: ease-out .2s;
	cursor: pointer;
	width: 100%;
	background-image: url(../assets/card-front.png);
	background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
	height: 100%;
	width: 100%;
  object-fit: contain;
	visibility: hidden;
}
.card .card-content {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 1.5rem;
}

button {
	padding: var(--spacing);
	border-radius: var(--border-radius);
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	cursor: pointer;

}

button:hover {

}

#profile-picture {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	object-fit:  cover;
}

#poker-table {
	flex-flow: column;
	background-color: green;
	padding: 2rem;
	border-radius: var(--border-radius);
}

#poker-table,
#community-cards {
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.flex {
	display: flex;
	gap: var(--spacing);
}

.card.in-deck {
	transform: rotateY(180deg);
	background-image: url(../assets/card-back.png);
}

.card.in-deck .card-content {
	display: none;

}

/* .card.in-deck img {
	content: url(../assets/card-back.png);
} */

.flex-1 { flex: 1 1 0%; }
.flex-column { flex-flow: column; }
.h-full { height: 100%; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-end { justify-content: end; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

@import './breakpoint-files/sm-screen.css';
@import './breakpoint-files/md-screen.css';
@import './breakpoint-files/lg-screen.css';
@import './breakpoint-files/xl-screen.css';
@import './breakpoint-files/xxl-screen.css';